/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282a36;
    background-alt: #44475a;
    foreground:     #FFFFFFFF;
    selected:       #bd93f9;	//#6272a4;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
